fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
supabase
numpy==1.26.4
sentence-transformers
networkx
python-louvain
transformers
torch
prophet
requests
httpx
groq
vecs==0.4.3
pgvector==0.3.2
pandas
scipy
