fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
supabase
sentence-transformers==2.7.0
networkx
python-louvain==0.16
transformers==4.40.0
torch==2.2.2+cpu --extra-index-url https://download.pytorch.org/whl/cpu
prophet
requests
httpx
groq
pgvector
pandas
scipy
numpy
