fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
supabase
sentence-transformers
networkx
python-louvain==0.16
transformers
torch --index-url https://download.pytorch.org/whl/cpu
prophet
requests
httpx
groq
pgvector
pandas
scipy
numpy
